.modal {
  input {
    margin: 0;
  }
  .modal-footer {
    padding: 15px 0 0 0;
  }
}

.bg-primary {
  background-color: #0068bf!important;
}

.card {
  margin: 0 0 5px;
  .card-img-top {
    height: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.select2-container {
  width: 100% !important;
  .select2-selection--single {
    height: 2.5rem;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    .select2-selection__rendered {
      padding: 0;
      margin-top:5px;
    }
    .select2-selection__arrow {
      height: 2.5rem;
      margin-right: 5px;
    }
  }
  :focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

button[type="submit"] {
  margin-bottom: 0 !important;
}

.alert {
  padding: 5px 10px;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  background: #0068BF;
  color: white;
  border: 0 !important ;
  border-radius: 0px;
}


a.ui-state-default {
  background: #0068BF !important;
  color: white !important;
  padding: 5px !important;
  text-align: center !important;
  border: none !important;
  border-radius: 3px;
}

a.ui-state-default.ui-state-active {
  background: #f44336 !important;
}

td.ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
  padding: 5px !important;
  text-align: center !important;
  border: none !important;
}


.ui-datepicker-prev-hover, .ui-datepicker-next-hover {
  background: none !important;
  border: none !important;
  cursor: pointer;
}

.ui-datepicker {
  padding: 0;
  margin: 0 !important;
  border: none !important;
}


table.ui-datepicker-calendar {
  margin-bottom: 0;
}


.custom-file {
  :hover {
    cursor: pointer ;

  }
  .custom-file-label {
    &::after {
      content: 'Selecteren' !important;
    }
  }
}

.form-control:disabled, .form-control[readonly] {
  background: white;
}